@import "colours.scss";

* {
    color: $foreground;
    background-color: transparent;
}

.dock {
    font-family: 'JetBrainsMono Nerd Font';
    background-color: rgba($background, 0.75);
    border-radius: 1.25em;
    padding: 0.25em;
    margin: 0px 4px;

    &.dockbox {
        padding: 0px 4px;
    }

    >* {
        @include border;
        margin: 0.25em;
        padding: 0.1em 0.75em;
    }

    .workspaces {
        border-style: none;
        font-size: 0.9em;
    }

    .battery {
        @mixin batteryAnimate($name, $colour) {
            @keyframes #{$name} {
                0%      {background-color: transparent;}
                50%     {background-color: $colour;}
                100%    {background-color: transparent;}
            }
            animation: $name 5s ease-in-out 0s infinite alternate none;
        }

        &.Charging.NotCritical {
            @include batteryAnimate(chargingNotCritical, limegreen);
        }
        &.Charging.Critical {
            @include batteryAnimate(chargingCritical, orange);
        }
        &.Discharging.NotCritical {
            background-color: transparent;
        }
        &.Discharging.Critical {
            @include batteryAnimate(dischargingCritical, orangered);
        }
        &.NotCharging.NotCritical {
            @include batteryAnimate(notChargingNotCritical, deepskyblue);
        }
        &.NotCharging.Critical {
            @include batteryAnimate(notChargingCritial, blue);
        }
    }
}

.panel {
    background-color: rgba($background, 0.75);
    border-radius: 1em;
    font-family: 'JetBrainsMono Nerd Font';
    padding: 1em;

    .dashboard {
        .timegreeter {
            font-size: 2em;
        }
    }
    
    .shortcutbox {
        font-family: 'Font Awesome 5 Free';
        padding: 1em;
        label {
            @include border;
            font-size: 2em;
            padding: 0.25em;
        }
    }
}