# By default, ignore all
*/

# Config directories
!eww
!eww/scripts
!hypr
!hypr/scripts
!neofetch
!swaylock

# Particular files
# Visual Studio Code
!Code/User/settings.json
# Fish
!/fish/config.fish
!/fish/fish_variables